@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rowdies:wght@300&display=swap');
* {
  scroll-behavior: smooth
}
body {
  font-family: 'Roboto', sans-serif
}
h1, h2, h3, h4 {
  font-family: 'Rowdies', cursive
}
a {
  color: #FFFFFF;
  text-decoration: none
}
a:hover {
  color: #22A39F
}
section h1:hover {color: #22A39F}

section, header, footer {
  display: block;
  padding: 50px 0px
}
header {
  background: #25262A;
  position: fixed;
  width: 100%;
  padding: 10px 0px;
  z-index: 9999
}
header nav {
  width: 80%;
  margin: auto;
  position: relative
}
header nav .logo {
  font-size: 1.5rem;
  font-weight: 700
}
header nav .btn-toggle {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 5px 10px
}
header nav ul li {
  padding: 0px 0px
}
header nav ul li a {
  color: #fff;
  display: block;
  border-bottom: 1px dashed #ddd;
  padding: 10px 10px
}
header nav ul li a:hover {
  background: #F3EFE0;
  color: #22A39F
}
.menu {
  display: none
}
/*nav pc 997px*/
@media (min-width: 997px) {
  .menu {
    display: block
  }
  .btn-toggle {
    display: none
  }
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0
  }
  header nav {
    display: flex;
    justify-content: space-between
  }
  header nav ul li a {
    border-bottom: none
  }
}

@keyframes chuyendonglenxuong
{
	0%{transform: translate(0,0)}
	20%{transform: translate(5px,-40px)}
	40%{transform: translate(-10px,20px)}
	60%{transform: translate(-5px,-20px)}
	80%{transform: translate(10px,40px)}
	100%{transform: translate(0,0)}
}
.n-mau
{
	animation-name: chuyendonglenxuong;
	animation-duration: 10s;
	animation-iteration-count: infinite
	
}
footer {
  background: #25262A;
  color: aliceblue
}
.noidung {
  min-height: 100px;
  width: 100%}
.progress-bar{ width: 100%; background: #eee; height: 10px; overflow: hidden}
.progress{ height: 100%; overflow: hidden}
@media screen and (max-width: 768px)
	
	
